@import "tailwindcss";

@theme inline {
  --animate-orbit-rotation: orbit-rotation 10s linear infinite
    var(--object-delay);
}

@keyframes orbit-rotation {
  0% {
    transform: rotate(0deg) translate(var(--translate-position)) rotate(-0deg);
  }

  100% {
    transform: rotate(360deg) translate(var(--translate-position))
      rotate(-360deg);
  }
}
